main {
  padding-top: 20px;
}

.videoBlock {
  background-color: #334545;
  border-radius: 2px;
  text-align: center;
  display: flex;
}

.videoBlock iframe {
  margin: 0px auto;
  display: block;
  padding: 0px;
  border: 0;
}

.topImage {
  text-align: center
}

.releaseAnnouncment h1 a {
  color: #6f8181 !important;
}

.releaseAnnouncment h1 a:after {
  color: #6f8181;
  content: ">";
  font-family: "glyph";
  font-size: 60%;
  vertical-align: middle;
  margin: 0px 5px;
}

.releaseAnnouncment img {
  border: 0px;
}

.get-it {
  border-top: solid 1px #eff1f1;
  border-bottom: solid 1px #eff1f1;
  padding: 10px 0px 20px;
  margin: 10px 0px;
}

.releaseAnnouncment ul {
  list-style-type: none;
  padding-left: 40px;
}
.releaseAnnouncment ul li {
  position: relative;
}

.releaseAnnouncment ul li:before {
  content: ">";
  font-family: "glyph";
  font-size: 60%;
  position: absolute;
  top: .8ex;
  left: -20px;
  font-weight: bold;
  color: #3bb566;
}

.give-feedback img {
  padding: 0px; 
  margin: 0px;
  height: 2ex;
  width: auto;
  vertical-align: middle;
}

figure {
    position: relative;
    z-index: 2;
    font-size: smaller;
    text-shadow: 2px 2px 5px light-grey;
}

p {
    text-align: justify;
    padding-left: 1em;
}

table {
	margin: 0px auto;
	background-color: #eff1f1;
}
table tr:nth-child(odd) {
	background-color: #fafafa;
}
table td {
	padding: 4px 10px;
}
